// Variables
$lightBackgroundColor: #f7f7f9;
// $darkBackgroundColor: ;

$waifuEnginePink: rgb(218, 114, 146);
$waifuEngineBlue: rgb(113, 222, 188);

// Mixins
@mixin fontSize($sizeValue){
	font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin logoFont() {
	font-family: "Indie Flower", cursive;
}
@mixin mainFont() {
	font-family: "Roboto", sans-serif;
}
@mixin headerFont() {
	font-family: "Montserrat", sans-serif;
}